.row {
    width: 95%;
    margin: 0 auto;
}

.featured-post {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.267)), url(../../test.jpg);
    background-size: cover;
    background-position: center center;
}